{% extends "admin/change_list.html" %}

{% block content %}
  <div id="content-main">
    
    <div class="submit-row" style="margin-bottom: 20px;">
      <form method="get" action="{% url 'admin:tienda_productos_changelist' %}" style="display: flex; flex-wrap: wrap; gap: 20px; align-items: flex-end;">
        
        <div class="form-row">
          <label for="id_precio_min">Precio desde:</label><br>
          <input type="number" step="0.01" name="precio_min" id="id_precio_min" value="{{ request.GET.precio_min|default:'' }}" placeholder="0.00" style="width: 100px;">
        </div>

        <div class="form-row">
          <label for="id_precio_max">Precio hasta:</label><br>
          <input type="number" step="0.01" name="precio_max" id="id_precio_max" value="{{ request.GET.precio_max|default:'' }}" placeholder="0.00"  style="width: 100px;">
        </div>

        <div class="form-row">
          <label for="id_stock_min">Stock desde:</label><br>
          <input type="number" name="stock_min" id="id_stock_min" value="{{ request.GET.stock_min|default:'' }}" placeholder="0" style="width: 80px;">
        </div>

        <div class="form-row">
          <label for="id_stock_max">Stock hasta:</label><br>
          <input type="number" name="stock_max" id="id_stock_max" value="{{ request.GET.stock_max|default:'' }}" placeholder="0" style="width: 80px;">
        </div>

        <div class="form-row">
          <label for="id_fecha_inicio">Fecha desde:</label><br>
          <input type="date" name="fecha_inicio" id="id_fecha_inicio" value="{{ request.GET.fecha_inicio }}">
        </div>

        <div class="form-row">
          <label for="id_fecha_fin">Fecha hasta:</label><br>
          <input type="date" name="fecha_fin" id="id_fecha_fin" value="{{ request.GET.fecha_fin }}">
        </div>

        <div class="form-row">
          <label for="id_categoria">Categoría:</label><br>
          <select name="categoria" id="id_categoria">
            <option value="">Todas</option>
            {% for cat in categorias %}
              <option value="{{ cat.id }}" {% if request.GET.categoria|default_if_none:'' == cat.id|stringformat:"s" %}selected{% endif %}>
                {{ cat.nombre }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-row" style="display: flex; gap: 10px;">
          <button type="submit" class="button" style="min-width: 100px; height: 32px;">Filtrar</button>
          <a href="{% url 'admin:tienda_productos_changelist' %}" class="button" style="min-width: 100px; height: 32px; line-height: 32px; padding: 0 10px; display: inline-block; text-align: center;">Limpiar</a>
        </div>
      </form>
    </div>
    

    {{ block.super }}
    
  </div>
{% endblock %}