{% extends "ProyectoWebApp/base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5">

      <h2 class="mb-4 text-center text-dark">Restablecer contraseña</h2>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <form method="post" class="border p-4 rounded bg-white shadow-sm">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="password1" class="form-label">Nueva contraseña</label>
          <input type="password" name="password1" id="password1" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Guardar nueva contraseña</button>
      </form>

      <div class="d-flex justify-content-center mt-4">
        <a href="/tienda/" class="btn btn-success w-100">Volver a la tienda</a>
      </div>

    </div>
  </div>
</div>
{% endblock %}